body {
    background-color: black;
    color: white;
}

#score {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.player {
    display:flex;
    flex-direction: column;
}

span {
    display:flex;
    justify-content: center;
    font-size: 2em;
    margin: 10px;
}


#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    padding: 20px;
    position: absolute; /* Use "absolute" instead of "relative" for centering */
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center the grid */
}

#clear {
    position: absolute; /* Use "absolute" instead of "relative" for centering */
    top: 80%; /* Position from the top */
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 5rem;
    cursor: pointer;
    border-radius: 25px;
}

#clear:hover {
    background: rgba(255, 255, 255, 0.5)
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    width: 150px;
    height: 150px;
    color: #ffffff;
    border-right: 3px solid ;
    border-bottom: 3px solid ;
    cursor: pointer;
}

.box:nth-child(3n) {
    border-right: none ;
}   

.box:nth-child(6) ~ .box {
    border-bottom: none ;
}   

.box:hover {
    background: rgba(255, 255, 255, 0.5)
}