body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
    display: flex;
}

#score {
    vertical-align: top;
    text-align: top; /* Center the content horizontally */
    margin-bottom: 20px; /* Add some spacing between score and the grid */
    color: white;
}

.player {
    display: block;
    display: inline; /* Display the player box contents in a row */
    align-items: center; /* Center the content vertically */
    margin: 0 10px; /* Add some space between player boxes */
    align-items: center;
    margin: 10px;
}

.player span {
    font-size: 2rem;
    margin-right: 10px;
}

.score0 { 
    position: relative;
    bottom: 40px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    padding: 20px;
    position: absolute; /* Use "absolute" instead of "relative" for centering */
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center the grid */
    background-color: black;
    margin-top: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 150px;
    height: 150px;
    color: #ffffff;
    border-right: 3px solid ;
    border-bottom: 3px solid ;
    background-color: #000000;
    cursor: pointer;
}

.box:nth-child(3n) {
    border-right: none ;
}   

.box:nth-child(6) ~ .box {
    border-bottom: none ;
}   